.title-ablum {
    position: relative;
    padding: 20px;
}

.title-ablum h1 {
    letter-spacing: 3px;
}

.title-ablum:after {
    position: absolute;
    content: '';
    width: 36px;
    height: 1px;
    left: 50%;
    bottom: 0;
    background: gray;
    transform: translateX(-50%);
}

.title-des {
    padding: 30px;
}

.title-des p {
    font-size: 1.5rem;
    color: gray;
    letter-spacing: 3px;
}

.pd-left {
    padding-left: 0!important;
}

.img-boxabl {
    box-shadow: 3px 4px 5px grey;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
}

.boxabl {
    transition: 0.5s;
}

.img-boxabl:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background: url('assets/img/a3.jpg');
    transition: 0.5s;
    opacity: 0;
    transform: scale(1);
}

.boxabl:hover .img-boxabl:after {
    opacity: 1;
    transition: 0.5s;
    transform: scale(1.1);
}

.ablum-head {
    padding: 100px;
    background-image: url('assets/img/blackbg3.jpg');
    margin-top: -48px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.ablum-head .main-title-section {
    color: #fff;
    margin-left: 310px;
}

.ablum-head .break-cump {
    margin-left: 310px;
}

.ablum-head .break-cump a,
.gach {
    color: #fff;
}