.about {
    padding: 80px;
    background-image: url('../img/blackbg3.jpg');
    margin-top: 50px;
    background-size: cover;
    background-position: center;
}

.about .main-title-section {
    color: #fff;
}

.about .break-cump a,
.gach {
    color: #fff!important;
}

.about .break-cump span {
    color: gray;
}